#calculator {
  width: 425px;
  height: 570px;
  background-color: var(--primary-color-darker);
  box-shadow: 5px 7px 30px rgba(30, 30, 30, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

#display {
  width: 100%;
  height: 110px;
  padding: 30px 20px;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--text-color-light);
  background-color: var(--text-color);
}

#prev-operand {
  font-size: 20px;
}

#current-operand {
  font-size: 32px;
}

#buttons-container {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
  padding: 3px;
}

.button {
  display: grid;
  place-content: center;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  user-select: none;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--text-color-light);
}

.operation {
  background-color: var(--secondary-color);
}

#clear {
  grid-column: span 2;
  background-color: #e72b5a;
  color: var(--text-color-light);
}

#clear:hover {
  background-color: var(--accent-color);
}

#equals {
  grid-row: span 2;
}

#zero {
  grid-column: span 2;
}
