@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

:root {
  --primary-color: #f7ece1;
  --secondary-color: #8d86c9;
  --primary-color-darker: #eee5dd;
  --accent-color: #725ac1;
  --text-color: #393649;
  --text-color-light: var(--primary-color);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.App {
  background-color: var(--secondary-color);
  font-family: "Noto Sans Display", sans-serif;
  color: var(--text-color);
}

main {
  width: 100%;
  height: 100vh;
}
